@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Plus+Jakarta+Sans&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background: #fbfeff;
}

:root {
  --bglight: #fbfeff;
  --bgdark: #121415;
  --clight: #010304;
  --cdark: #fff;
  --plight: rgb(0, 180, 240);
  --pdark: rgb(75, 192, 231);
  --bg: var(--bglight);
  --color: var(--clight);
  --primary: var(--plight);
  --bd: 1px solid #939597;
}

body {
  font: 15px "Plus Jakarta Sans", sans-serif;
  background: var(--bg);
  color: var(--color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

button {
  font: inherit;
  color: inherit;
  padding: 5px;
  background: #0000;
}

button .fi {
  font-size: 27px;
}

.logoname {
  font-family: "Lobster Two";
  font-size: 29px;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -moz-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
}

.loading-page .ele {
  scroll-snap-align: end;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: var(--bg);
}

.loading-page .ele * {
  margin-top: auto;
}

.loading-page .ele .swipe-up {
  position: relative;
  margin-bottom: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.loading-page .ele .swipe-up::before {
  content: "By Tirtha";
  position: absolute;
  top: 18px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.loading-page .no-display {
  scroll-snap-align: end;
  background: var(--bg);
  width: 100%;
  height: 100%;
}

.con {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 8px 23px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fbfeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: var(--bd);
  z-index: 88;
}

.bottom-nav .underIndicator {
  position: absolute;
  bottom: 8px;
  left: 0;
  height: 3px;
  width: 0;
  border-radius: 30px;
  background: #dd1b42;
}

.pages {
  scroll-behavior: smooth;
}

.home-page {
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-snap-type: y mandatory;
  -moz-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
}

.home-page .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #0000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 15px;
  background: var(--bg);
  padding-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 55;
}

.home-page .nav #logo {
  margin-right: auto;
}

.home-page .nav .upload {
  position: relative;
}

.home-page .nav .upload .fi-rr-square {
  position: static;
}

.home-page .nav .upload i {
  position: absolute;
  top: 49%;
  left: 49.7%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-page .nav .back-to-top {
  display: none;
}

.home-page .nav button {
  margin-left: 15px;
}

.home-page .nav.on {
  border-bottom: var(--bd);
}

.home-page .nav.on #logo {
  margin-right: 1px;
}

.home-page .nav.on .back-to-top {
  display: inline-block;
  margin: 0;
  margin-right: auto;
}

.home-page .story-followed {
  scroll-snap-align: start;
  width: 100%;
  padding: 14px 0;
  border-bottom: var(--bd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.home-page .story-followed .item {
  margin: 0 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-page .story-followed .item .profile {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 3px;
  background: crimson;
}

.home-page .story-followed .item .profile div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background-color: #939597;
  border-radius: 50%;
  border: 3px solid var(--bg);
  overflow: hidden;
}

.home-page .story-followed .item span {
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  margin: 0 auto;
}

.home-page .story-followed .add-story {
  margin-left: 24px;
}

.home-page .story-followed .add-story.off .profile {
  background: #0000;
}

.home-page .story-followed .add-story.off .profile div {
  width: 100%;
  height: 100%;
}

.home-page .feeds-followed .item {
  scroll-snap-align: start;
  width: 100%;
}

.profile-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: var(--bd);
}

.profile-con .profile {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #939597;
  margin-right: 10px;
}

.description {
  width: 100%;
  padding: 0 15px 8px 15px;
}

.actions-con {
  width: 100%;
  padding: 3px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-con * {
  margin-right: 3px;
}

.actions-con .save {
  margin-left: auto;
}

.username {
  font-size: 15px;
  font-weight: bold;
  margin-right: auto;
}

img.core {
  width: 100%;
  height: 100vw;
  background: #939597;
}
/*# sourceMappingURL=main.css.map */